<div class="ui-g-12 account-wall">
    <app-menu [message]="msgs"></app-menu>
    <p-confirmDialog  acceptLabel="Si" rejectLabel="Cancelar" header="Confimar" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <p></p>
    <div class="container" [hidden]="hiddenCreate">

        <p-fieldset legend="Cliente" [toggleable]="false">

            <form [formGroup]="formClient" (ngSubmit)="saveOrUpdateClient()">
                    
                    <input type="text" formControlName="id" pInputText hidden="hidden" />

                    <div class="ui-g-6">
                        <input type="text" formControlName="name" placeholder="Nombre"
                        maxlength="50"
                        pInputText>
                    </div> 

                    <div class="ui-g-6">
                        <input type="text" formControlName="address" placeholder="Dirección"
                        maxlength="100"
                        pInputText>
                    </div> 
                    
                    <div class="ui-g-6">
                        <p-inputMask #myInputMask [(ngModel)]="attr.attributeValue" formControlName="phoneNumber" mask="(999) 999-9999999" placeholder="Teléfono" (onBlur)="isInputMaskFilledPhone($event)"></p-inputMask>
                    </div> 
                    
                    <div class="ui-g-6">
                        <p-autoComplete [(ngModel)]="keyword" field="name" formControlName="city" [suggestions]="cities" placeholder="Ciudad" (completeMethod)="search($event)"></p-autoComplete>
                    </div> 
                    
                    <div class="ui-g-12">
                            <div class="ui-g-4"></div>
                            <div class="ui-g-6">
                                <p-button label="Guardar" 
                                          style="margin-right: 10px"
                                          type="submit" [disabled]="!formClient.valid">
                                </p-button>
                                <p-button label="Cancelar" 
                                          style="margin-right: 10px"
                                          type="button"
                                          (onClick)="cancelClient()">
                                </p-button>

                                <p-button label="Limpiar" type="reset"></p-button>

                            </div>
                            <div class="ui-g-2"></div>
                    </div>
            </form>
        </p-fieldset>
        <p></p>
    </div>
    
    <div class="ui-g-12" style="margin:0 auto">
        <p-button label="Crear" (onClick)="createClient()" icon="pi pi-fw pi-plus"></p-button>
    </div>

    <div class="ui-g-12">
        <p-table [value]="clients" [responsive]="true" [paginator]="true" [rows]="10" 
                 [resizableColumns]="true" columnResizeMode="expand">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols" pResizableColumn>
                        {{col.header}}
                    </th>
                    <th>
                        Acción
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-client let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of cols" class="ui-resizable-column">
                        {{client[col.field]}}
                    </td>
                    <td align="center">
                        <button pButton type="button" icon="pi pi-pencil" (click)="selectClient(client)"
                            style="margin-top:0"></button>

                            <button pButton type="button" icon="pi pi-trash" (click)="deleteConfirm(client)"
                            style="margin-top:0;margin-left: 5px"></button>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>
<div class="alert alert-danger alert-dismissable fuente-project" *ngIf="msg">
    <a class="close" (click)="closeAlert()">
        &times;
    </a>
    <h6>{{msg}}</h6>
</div>
