<div class="ui-g-12 account-wall">
    <app-menu [message]="msgs"></app-menu>
    <p-confirmDialog  acceptLabel="Si" rejectLabel="Cancelar" header="Confimar" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <p></p>
    <div class="container">

        <p-fieldset legend="Cliente" [toggleable]="false">

            <form [formGroup]="formHistorial" (ngSubmit)="searchHistorial()">
                    
                    <div class="ui-g-6">
                        <p-autoComplete (onSelect)="onSelectAutoComplete($event)" 
                            (onClear)="onClearAutoComplete($event)"
                            [(ngModel)]="keyword" 
                            field="name" formControlName="client" [suggestions]="clients" 
                            
                            placeholder="Cliente" (completeMethod)="search($event)">
                        </p-autoComplete>
                    </div> 
                    
                    <div class="ui-g-12">
                            <div class="ui-g-4"></div>
                            <div class="ui-g-6">
                                <p-button label="Consultar" 
                                          style="margin-right: 10px"
                                          type="submit" [disabled]="!formHistorial.valid">
                                </p-button>
       
                                <p-button label="Limpiar" type="reset" (onClick)="limpiar()"></p-button>

                            </div>
                            <div class="ui-g-2"></div>
                    </div>
            </form>
        </p-fieldset>
        <p></p>
    </div>
    
    <div class="ui-g-12">
        <p-table [value]="historials" [responsive]="true" [paginator]="true" [rows]="10" 
                 [resizableColumns]="true" columnResizeMode="expand">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols" pResizableColumn>
                        {{col.header}}
                    </th>                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-client let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of cols" class="ui-resizable-column">
                        {{client[col.field]}}
                    </td>                    
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>
<div class="alert alert-danger alert-dismissable fuente-project" *ngIf="msg">
    <a class="close" (click)="closeAlert()">
        &times;
    </a>
    <h6>{{msg}}</h6>
</div>
