<div class="ui-g-12 account-wall">
    <app-menu [message]="msgs"></app-menu>
    <p-confirmDialog  acceptLabel="Si" rejectLabel="Cancelar" header="Confimar" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <p></p>
    <div class="container" [hidden]="hiddenCreate">

        <p-fieldset legend="Asesor" [toggleable]="false">

            <form [formGroup]="formAdvisor" (ngSubmit)="saveOrUpdateAdvisor()">
                    
                    <input type="text" formControlName="id" pInputText hidden="hidden" />

                    <div class="ui-g-6">
                        <input type="text" formControlName="name" placeholder="Nombre"
                        maxlength="50"
                        pInputText>
                    </div> 

                    <div class="ui-g-6">
                        <p-dropdown optionLabel="name" [options]="typeAdvisors" placeholder="Seleccione el tipo de asesor" 
                                    formControlName="typeAdvisor">
                        </p-dropdown>
                    </div>
                    
                    <div class="ui-g-12">
                            <div class="ui-g-4"></div>
                            <div class="ui-g-6">
                                <p-button label="Guardar" 
                                          style="margin-right: 10px"
                                          type="submit" [disabled]="!formAdvisor.valid">
                                </p-button>
                                <p-button label="Cancelar" 
                                          style="margin-right: 10px"
                                          type="button"
                                          (onClick)="cancelAdvisor()">
                                </p-button>

                                <p-button label="Limpiar" type="reset"></p-button>

                            </div>
                            <div class="ui-g-2"></div>
                    </div>
            </form>
        </p-fieldset>
        <p></p>
    </div>
    
    <div class="ui-g-12" style="margin:0 auto">
        <p-button label="Crear" (onClick)="createAdvisor()" icon="pi pi-fw pi-plus"></p-button>
    </div>

    <div class="ui-g-12">
        <p-table [value]="advisors" [responsive]="true" [paginator]="true" [rows]="10" 
                 [resizableColumns]="true" columnResizeMode="expand">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols" pResizableColumn>
                        {{col.header}}
                    </th>
                    <th>
                        Acción
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-advisor let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of cols" class="ui-resizable-column">
                        {{advisor[col.field]}}
                    </td>
                    <td align="center">
                        <button pButton type="button" icon="pi pi-pencil" (click)="selectAdvisor(advisor)"
                            style="margin-top:0"></button>

                            <button pButton type="button" icon="pi pi-trash" (click)="deleteConfirm(advisor)"
                            style="margin-top:0;margin-left: 5px"></button>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>
<div class="alert alert-danger alert-dismissable fuente-project" *ngIf="msg">
    <a class="close" (click)="closeAlert()">
        &times;
    </a>
    <h6>{{msg}}</h6>
</div>
